# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Data & outputs
data/raw/
data/videos/
data/wlasl_preprocessed
checkpoints/
runs/           # if using TensorBoard
*.log

# OS/IDE
.DS_Store
.vscode/
